<style>
    body {
        background-color: rgba(26, 73, 226, 0.801);
    }
</style>
  

<br>
<div class="container">
    <div class="row">

        <div class="col-md-4"></div>

        <div class="col-md-2">
            <a class="btn btn-primary" href="index.php" role="button">Inicio</a>
        </div>

        <div class="col-md-2">

<a class="btn btn-primary" href="productos.php" role="button">Productos</a>
        </div>


        <div class="col-md-2"> 
            <a class="btn btn-primary" href="blog.php">Blog</a>
        </div>

        <div class="col-md-2">
            <a class="btn btn-primary" href="acerca_de_nosotros.php" role="button">Acerca de Nosotros</a>
        </div>
    


    </div>
    </div>
</br>
